<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>{% block title %}Home - ChatBot Service{% endblock %}</title>
</head>
<body>
    <div class="sidebar">
        {% block sidebar %}
        <ul class="nav flex-column">
            <div class="menu-title">
                Menu
            </div>
            <li class="nav-item">
                <a href="#" class="nav-link active">팀원 소개</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">작가 소개</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">선호 작품</a>
            </li>
        </ul>
        {% endblock %}
    </div>

    <div class="gallery">
        {% block gallery_content %}
        <!-- 갤러리 콘텐츠 내용 -->
        {% endblock %}
    </div>

    <div class="chat-interface">
        {% block chat_content %}
        
        {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
</body>
</html>
