{% extends 'base.html' %}
{% load static %}

{% block title %}
Favorite - ChatBot Service
{% endblock %}

{% block content %}
<div class="favorite-gallery-container">
    {% block gallery_content %}
    <div id="favorite-gallery" class="favorite-gallery"></div>
    {% endblock %}
</div>
{% endblock %}


{% block scripts %}
<script>
    function loadFavorites() {
        var gallery = document.getElementById("favorite-gallery");
        gallery.innerHTML = ""; 

        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
        if (favorites.length === 0) {
            gallery.innerHTML = "<p>No favorites yet.</p>";
        } else {
            favorites.forEach(function(imageSrc) {
                var imgContainer = document.createElement("div");
                imgContainer.className = "gallery-item";

                var imgElement = document.createElement("img");
                imgElement.src = imageSrc;

                imgContainer.appendChild(imgElement);
                gallery.appendChild(imgContainer);
            });
        }
    }

    window.onload = function() {
        loadFavorites(); 
    }
</script>
<style>
    .gallery-item {
        position: relative;
        display: inline-block;
        margin: 10px;
    }
</style>
{% endblock %}
