{% extends 'base.html' %}
{% load static %}

{% block title %}
Home - ChatBot Service
{% endblock %}

{% block content %}
<div class="gallery-container">
    {% block gallery_content %}
    <div id="gallery" class="gallery"></div>
    {% endblock %}
</div>

<div class="chat-interface">
    {% block chat_content %}
    <div class="chat-train">
        <button onclick="chatTrain()" class="train-button">Train Chatbot</button>
    </div>
    <button class="reset-button" onclick="resetFavorites()">&#x21bb;</button>

    <div id="chatbox" class="chat-box">
        <!-- 챗봇 콘텐츠 내용 -->
    </div>
    <div class="input-area">
        <input type="text" id="chattext" class="text-input" placeholder="Type your message here...">
        <button onclick="sendAsk()" class="send-button">SEND</button>
    </div>
    {% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function chatTrain() {
        var strurl = "chattrain";
        alert(strurl);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) { // 4: 정상, 200: OK
                var data = xhr.responseText;
                var obj = JSON.parse(data);
                alert(obj.result);
            }
        };
        xhr.open("GET", strurl, true);
        xhr.setRequestHeader("X-CSRFToken", csrftoken);
        xhr.send(null);
    }

    function sendAsk() {
        var chattext = document.getElementById("chattext").value;
        if (chattext == "") {
            document.getElementById("chattext").focus();
            return false;
        }

        var addtext = "<div style='margin:20px 20px; text-align:right;'><span style='background-color:#FFFFFF; padding:5px 8px; border-radius:3px; display:inline-block; max-width:60%; word-wrap:break-word;'>" + chattext + "</span></div>";
        document.getElementById("chatbox").innerHTML += addtext;


        fetch('/chatanswer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'X-CSRFToken': csrftoken
            },
            body: new URLSearchParams({
                'chattext': chattext
            })
        })
        .then(response => response.json())
        .then(data => {
            var bert_response = "<div style='margin:20px; text-align:left; display:flex; flex-direction: column; align-items: flex-start;'><img src='{% static 'assets/img/ai_img.jpeg' %}' alt='AI Image' style='width: 40px; height: 40px; margin-right: 10px; border-radius: 50%;'><span style='background-color:#FEFAF6; padding:5px 8px; border-radius:3px; display:inline-block; max-width:60%; word-wrap:break-word;'>";
            bert_response += "설명: " + data.bert_response.description + "<br>";
            bert_response += "작가: " + data.bert_response.author + "<br>";
            bert_response += "제목: " + data.bert_response.title + "<br>";
            bert_response += "유사도 점수: " + data.bert_response.similarity_score + "<br>";
            bert_response += "<img src='/static/Images/" + data.bert_response.image_file + "' style='width:300px;'></span></div>";

            var gpt_response = "<div style='margin:20px; text-align:left; display:flex; align-items:center;'><img src='{% static 'assets/img/ai_img.jpeg' %}' alt='AI Image' style='width: 40px; height: 40px; margin-right: 10px; border-radius: 50%;'><span style='background-color:#FEFAF6; padding:5px 8px; border-radius:3px; display:inline-block; max-width:60%; word-wrap:break-word;'>" + data.gpt_response + "</span></div>";

            document.getElementById("chatbox").innerHTML += bert_response;
            document.getElementById("chatbox").innerHTML += gpt_response;

            var mydiv = document.getElementById("chatbox");
            mydiv.scrollTop = document.getElementById("chatbox").scrollHeight;
            document.getElementById("chattext").value = "";
        })
        .catch(error => console.error('Error:', error));
    }

    function toggleFavorite(imageSrc, heartButton) {
        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
        const index = favorites.indexOf(imageSrc);

        if (index > -1) {
            // Remove favorite if it exists
            favorites.splice(index, 1);
            heartButton.innerHTML = "&#9825;"; // 빈 하트로 변경
            heartButton.classList.remove('favorite');
        } else {
            // Add to favorites if it doesn't exist
            favorites.push(imageSrc);
            heartButton.innerHTML = "&#10084;"; // 빨간 하트로 변경
            heartButton.classList.add('favorite');
        }

        localStorage.setItem('favorites', JSON.stringify(favorites));
    }

    function resetFavorites() {
        localStorage.removeItem('favorites');
        alert('Favorites have been reset!');
        loadNextImages();
    }

    var imagesList = [
        [
            '{% static "assets/imgdata/9886332401.png" %}',
            '{% static "assets/imgdata/6314097491358110_1949232164.png" %}',
            '{% static "assets/imgdata/21150542432613180_427128005.png" %}',
            '{% static "assets/imgdata/33464962553633817_1968830977.png" %}',
            '{% static "assets/imgdata/33571678858755115_1495166511.png" %}',
            '{% static "assets/imgdata/33572095033992831_1203825347.png" %}',
            '{% static "assets/imgdata/33572697087420928_2113376738.png" %}',
            '{% static "assets/imgdata/34705573740579894_376972065.png" %}',
            '{% static "assets/imgdata/34356097404599052_1810286742.png" %}',
        ],
        [
            '{% static "assets/img/news-1.jpg" %}',
            '{% static "assets/img/news-2.jpg" %}',
            '{% static "assets/img/news-3.jpg" %}',
            '{% static "assets/img/news-4.jpg" %}',
            '{% static "assets/img/news-5.jpg" %}',
            '{% static "assets/img/news-1.jpg" %}',
            '{% static "assets/img/news-2.jpg" %}',
            '{% static "assets/img/news-3.jpg" %}',
            '{% static "assets/img/news-4.jpg" %}',
        ]
    ];
    var currentImageSetIndex = 0;

    function loadNextImages() {
        var gallery = document.getElementById("gallery");
        gallery.innerHTML = "";

        if (currentImageSetIndex >= imagesList.length) {
            currentImageSetIndex = 0;
        }

        var images = imagesList[currentImageSetIndex];
        let favorites = JSON.parse(localStorage.getItem('favorites')) || [];
        images.forEach(function (imageSrc, index) {
            var imgContainer = document.createElement("div");
            imgContainer.className = "gallery-item";

            var imgElement = document.createElement("img");
            imgElement.src = imageSrc;

            var heartButton = document.createElement("button");
            heartButton.className = "heart-button";
            heartButton.innerHTML = "&#9825;"; // 빈 하트
            if (favorites.includes(imageSrc)) {
                heartButton.innerHTML = "&#10084;"; // 빨간 하트
                heartButton.classList.add('favorite');
            }
            heartButton.onclick = function () {
                addToFavorites(imageSrc, heartButton);
            };

            imgContainer.appendChild(imgElement);
            imgContainer.appendChild(heartButton);
            gallery.appendChild(imgContainer);
        });
        currentImageSetIndex++;
    }

    window.onload = function () {
        loadNextImages();
    }
</script>
<style>
    .gallery-item {
        position: relative;
        display: inline-block;
        margin: 10px;
    }

    .heart-button {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .heart-button.favorite {
        color: red;
    }

    .heart-button:hover {
        color: pink;
    }
</style>
{% endblock %}
